<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Producto</title>
</head>
<body>
    <h1>Agregar Producto</h1>
    <form action="/create_product" method="POST">
        <label for="name">Nombre del Producto:</label>
        <input type="text" name="name" required><br>
        
        <label for="category">Categoría:</label>
        <input type="text" name="category" required><br>

        <label for="quantity">Cantidad:</label>
        <input type="number" name="quantity" required><br>

        <label for="price_usd">Precio en USD:</label>
        <input type="number" step="0.01" name="price_usd" required><br>

        <label for="price_bs">Precio en Bolívares:</label>
        <input type="number" step="0.01" name="price_bs" required><br>

        <input type="submit" value="Agregar Producto">
    </form>
    <a href="/">Volver</a>
</body>
</html>